[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-runner = "*"
black = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

coverage = "==4.5.4"
pytest-cov = "*"
python-coveralls = "*"
coveralls = "*"

setuptools = "*"
wheel = "*"
twine = "*"

[packages]
apscheduler = "*"
pytz = "*"
psutil = "*"
click = "*"
pypyr = ">=3.1"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest tests"
server = "python -m pyrsched.server"

[pipenv]
allow_prereleases = true
