[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
swagger-spec-validator = "*"

[requires]
python_version = "3.7"
